<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA</title>
    <link rel="stylesheet" href="../css1/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="text/javascript">
	function getSearchList(){
		$.ajax({
			type: 'GET',
			url : "/getSearchList",
			data : $("form[name=search-form]").serialize(),
			success : function(result){
				//테이블 초기화
				$('#boardtable > tbody').empty();
				if(result.length>=1){
					result.forEach(function(item){
						str='<tr>'
						str += "<td>"+item.idx+"</td>";
						str+="<td>"+item.writer+"</td>";
						str+="<td><a href = '/board/detail?idx=" + item.idx + "'>" + item.title + "</a></td>";
						str+="<td>"+item.date+"</td>";
						str+="<td>"+item.hit+"</td>";
						str+="</tr>"
						$('#boardtable').append(str);
	        		})				 
				}
			}
		})
	}
	</script>
</head>
<body>
    <div class="header">
        <a id="head1" href="/myboard/list?page=1">스터디룸</a>
        <a id="head2" href="/board/list">Q&A</a>
        <a id="headImg" href="/myboard/main"><img id="logo" src="../image/페이지로고.png"></a>
        <a id="head3" href="#">마이페이지</a>
        <a id="head4" href="#">로그아웃</a>
    </div>
    <div class="board_wrap">
        <div class="board_title">
            <strong>Q&A 게시판 메인</strong>
            <p>무엇이든 물어보살!!!</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
                <div th:each="board : ${boardList}">
				    <div th:text="${board.qna_no}" class="num"></div>
				    <div class="title">
				        <a th:text="${board.qna_title}" th:href="@{/board/view(qna_no=${board.qna_no})}"></a>
				    </div>
				    <div th:text="${board.user_id}" class="writer"></div>
				    <div th:text="${#dates.format(board.qna_date, 'yyyy.MM.dd')}" class="date"></div>
				    <div th:text="${board.qna_view}" class="count"></div>
				</div> 
            </div>
            <div class="pagination-container">
				  <nav aria-label="Page navigation example">
				    <ul class="pagination">
				      <li class="page-item">
				        <a class="page-link" th:href="@{list?page=1}" aria-label="Previous" th:text="'<<'">
				        </a>
				      </li>
				      <li class="page-item">
				        <a class="page-link" th:href="@{list??page={page} (page = ${pagination.prevBlock})}" aria-label="Previous"  th:text="'<'">
				        </a>
				      </li>
				      <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
						  <li th:each="pageButton : ${#numbers.sequence(start, end)}">
						    <a class="page-link" 
						       th:href="@{list?page={page} (page = ${pageButton})}" 
						       th:text=${pageButton}></a>
						  </li>
					  </th:block>
				      <li class="page-item">
				        <a class="page-link" th:href="@{list?page={page} (page = ${pagination.nextBlock})}" aria-label="Next"  th:text="'>'">
				        </a>
				      </li>
				      <li class="page-item">
				        <a class="page-link" th:href="@{?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous" th:text="'>>'">
				        </a>
				      </li>
				    </ul>
				  </nav>
			</div>
            <div class="bt_wrap">
                <input type="button" value="글작성" class="on"
				onclick="location.href='/board/writeform'">
            </div>
        </div>
    </div>
</body>
</html> 