<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA</title>
    <link rel="stylesheet" href="../css1/style.css">
</head>
<body>
	<div class="header">
        <a id="head1" href="/myboard/list?page=1">스터디룸</a>
        <a id="head2" href="/board/list">Q&A</a>
        <a id="headImg" href="/myboard/main"><img id="logo" src="../image/페이지로고.png"></a>
        <a id="head3" href="#">마이페이지</a>
        <a id="head4" href="#">로그아웃</a>
    </div>
    <div class="board_wrap">
        <div class="board_title">
            <strong>QnA 상세</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title" th:text="${dto.qna_title}">
                    글 제목이 들어갑니다.
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd th:text="${dto.qna_no}">1</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd th:text="${dto.user_id}">김이름</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd th:text="${#dates.format(dto.qna_date, 'yyyy.MM.dd')}"></dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd th:text="${dto.qna_view}"></dd>
                    </dl>
                </div>
                <div th:if="${not #strings.isEmpty(dto.filename)}">
				    <img th:src="@{/download/{filename}(filename=${dto.filename})}" />
				    <div class="cont" th:text="${dto.qna_content}"></div>
				</div>                      
            	</div>
            <div class="bt_wrap">
            	<input type="button" class="on" value="목록" onclick="location.href='/board/list'">
                <input type="button" 
			       class="on" 
			       value="수정" 
			       th:if="${user_id == dto.user_id}"
			       th:onclick="location.href='/board/updateform?qna_no=[[${dto.qna_no}]]'">
                <input type="button" 
			       class="on" 
			       value="삭제" 
			       th:if="${user_id == dto.user_id}"
			       th:onclick="location.href='/board/delete?qna_no=[[${dto.qna_no}]]'">
            </div>
        </div>
    </div>  
</body>
</html>