<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="../css1/allgrid.css">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
	function pickCategory(ele){
		console.log(ele);
		console.log(ele.selectedIndex);
		console.log(ele.options[ele.selectedIndex].value);
		
		let changeOptionValue = ele.options[ele.selectedIndex].value;
		
		var con = document.getElementsByClassName("projectGridWrap");
		if(changeOptionValue=="all"){
			for(let i=0; i<con.length; i++){
					con[i].style.display = 'block'; 
			
			}
		}
		else{
			for(let i=0; i<con.length; i++){
				if(﻿changeOptionValue != ﻿con[i].title){
					con[i].style.display = 'none'; 
				}else{
					con[i].style.display = 'block'; 
				}
			
			}
		}	
	}

 	function clickImg(elem){
		if(﻿$(elem).attr('src') == "../pic/star.png"){
			﻿elem.src = ﻿"../pic/star2.png";
		}else{
			﻿elem.src = ﻿"../pic/star.png"
		}
	}  
 	
</script>

</head>
<body>
	<div class="header">
        <a id="head1" href="/board/studyroommake">스터디룸 생성</a>
        <a id="head2" href="/board/list">Q&A</a>
        <a id="headImg" href="/myboard/main"><img id="logo" src="../image/페이지로고.png"></a>
        <a id="head3" href="#">마이페이지</a>
        <a id="head4" href="#">로그아웃</a>
    </div>
	<div class="projectAllGridView">
		<h2>스터디룸</h2>
		<form>
		
			<div class="searchOption">
				<select class="smSelect" onchange="pickCategory(this);">
					<option value="all" selected>전체</option>
					<option value="----취업----">----취업----</option>
					<option value="me">자기소개서</option>
					<option value="interview">면접</option>
					
				
					<option value="----학업----">----학업----</option>
					<option value="data">자료구조</option>
					<option value="science">데이터사이언스</option>
				
					<option value="----기획----">----기획----</option>
					<option value="ui">UI/UX기획</option>
					<option value="game">게임기획</option>
					<option value="PM">PM</option>
			
					<option value="----개발----">----개발----</option>
					<option value="front">프론트엔드</option>
					<option value="back">백엔드</option>
					<option value="android">안드로이드</option>
					<option value="etc">기타전체</option>
				</select>
			</div>
		</form>
		<div class="projectGridView">		
			<th:block th:if="${#lists.isEmpty(list)}">
				<h3>스터디룸이 존재하지 않습니다.</h3>
			</th:block>
			<th:block th:if="${not #lists.isEmpty(list)}">
			<th:block th:each="dto : ${list}">	
				<div class="projectGridWrap" th:title="${dto.category}">
				<a th:href="'/board/studyroomdetail?room_id=' + ${room_id}">
				<div class="projectTopInfo">
					<div class="projectThumb">
						<img th:src="@{/pic/{dto.category}.png(dto.category=${dto.category})}" width="285px" height="230px">
					</div>
				</div>
				<div class="projectBottomInfo">
					<div class="txtWrap projectWrap">
						<h4 class="category">
							<th:block th:switch="${dto.category}">
								<th:block th:case="'me'">자기소개서</th:block>
								<th:block th:case="'interview'">면접</th:block>
								<th:block th:case="'data'">자료구조</th:block>
								<th:block th:case="'science'">데이터사이언스</th:block>
								<th:block th:case="'ui'">UI/UX기획</th:block>
								<th:block th:case="'game'">게임기획</th:block>
								<th:block th:case="'PM'">PM</th:block>
								<th:block th:case="'front'">프론트</th:block>
								<th:block th:case="'back'">백엔드</th:block>
								<th:block th:case="'android'">안드로이드</th:block>
								<th:block th:case="'etc'">기타</th:block>
							</th:block>
						</h4>
						<h3 class="tit" th:text="${dto.title}"></h3>
					</div>
				</div>
				<div class="bottomWrap">
					<div>모집인원</div>
					<div th:text="|${dto.people_num}/8|"></div>
					<div class="favorite">
						<img id="starclick" src="../pic/star.png" height="23px" onclick="clickImg(this)">
					</div>
				</div>
				</a>
				</div>
			</th:block>
			</th:block>			
		</div>	
	</div>


	<div class="big-width" th:style="'text-align: center'">
	   <a th:if="${pageMaker.prev}" class="changePage" th:href="@{${startPage - 1}}"></a>
	   <span th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
	       <span th:if="${pageMaker.cri.getPageNum() == num}">
	           <code th:text="${num}"></code>
	       </span>
	       <a th:if="${pageMaker.cri.getPageNum() != num}" class="changePage" th:href="@{list(page=${num})}"><code th:text="${num}"></code></a>
	   </span>
	   <a th:if="${pageMaker.next}" class="changePage" th:href="@{${endPage + 1}}"></a>
	</div>


</body>
</html>