<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>너내동: 질문</title>
<!--나중에 th 넣어서 스터디 이름 넣어주기 -->

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
function clickme(formId) {
    $("#"+formId).toggle();
}
</script>
</head>

<link href="../css/style_detail.css" rel="stylesheet" type="text/css">

<body>
	<div class="header">
        <a id="head1" href="/myboard/list?page=1">스터디룸</a>
        <a id="head2" href="/board/list">Q&A</a>
        <a id="headImg" href="/myboard/main"><img id="logo" src="../image/페이지로고.png"></a>
        <a id="head3" href="#">마이페이지</a>
        <a id="head4" href="#">로그아웃</a>
    </div>

	<div class="all">
		<div class="first"></div>

		<div class="second">
			<div class="name">
				<div id="ment">
					<h1 th:text="${title}">스터디 이름</h1>
					<div id="le">
						<h2 style="margin-top: 13%; margin-left: 20%;" th:text="${userid}">방장 이름</h2>
					</div>
					<h2 th:text="|모집 인원: ${member}/${people_num}|">모집 인원: 1/4</h2>
				</div>
			</div>

			<div class="hr"></div>
			<div class="sel">
				<a th:href="@{/board/studyroomdetail(room_id=${room_id})}"><img src="../image/정보.png"
					onmouseout="this.src='../image/정보.png'"
					onmouseover="this.src='../image/정보_ch.png'"></a> 
					<a th:href="@{/board/studyroomquestion(room_id=${room_id})}"><img id="question"
					src="../image/질문_ch.png"></a> 
					<a th:href="@{/board/studyroomsetting(room_id${room_id})}">
					<img
					id="set" src="../image/관리.png"
					onmouseout="this.src='../image/관리.png'"
					onmouseover="this.src='../image/관리_ch.png'"></a>
			</div>

			<div class="content">
				<div class="detail">
					<span style="margin: 5%;">
						<form th:action="@{/board/question(room_id=${room_id})}" method="post">
							🙋‍♀️ 질문을 남겨주세요! <br> <br>
							<textarea name="question" rows="5" cols="100"
								style="border: 3px solid #D9D9D9"></textarea>
							<input type="submit" value="등록">
						</form>
					</span>
					<div th:if="${list == null}">
					<span>아직 글이 없습니다. 첫 댓글을 달아주세요!</span>
					</div>
					<div class="history" th:if="${list != null}">
						<tr th:each="list:${list}">
							<div class="question">
								<span th:text="${list.user_id}" id="qa"> <span>아이디</span>
								</span> 
								<span  th:onclick="'clickme(\'' + ${list.no} + '\')'" style="cursor: pointer;">답글</span>
							</div>
							<br>
							<form th:id="${list.no}" th:action="@{/board/questionupdate(room_id=${room_id})}" method="post">
								<input type="hidden" name="no" th:value="${list.no}">
								<textarea name="reply"
									style="margin-top: -1%; border: 3px solid #D9D9D9" rows="10"
									cols="100"></textarea>
								<input type="submit" value="등록">
							</form>
							<br>
							<span th:text="${list.content}">댓글</span>
							<span th:if="${list.reply != null}" th:text="${list.reply}">답글</span>
							<hr>
						</tr>

					</div>
				</div>
			</div>
		</div>

		<div class="first">
			<div class="box">
				<div id="box_le">
					<div class="row">
						<h2 style="margin-top: 13%;" th:text="${userid}">방장 이름</h2>
					</div>
					<div class="bhr"></div>
					<div id="box_ment">
						<span>스터디 기간</span><br> <br> <span>2023.05.01~2023.07.31</span>
					</div>

					<div class="bhr"></div>

					<form th:action="@{/board/join(room_id=${room_id})}" method="post">
					<input type="hidden" name="comment" value="question">
					<input type="hidden" name="name" th:value="${title}">
					
					<button id="joinbutton" type="submit"><img src="../image/join.png" width="200px"
						height="52px" style="cursor: pointer"></button>
					</form>
					
					<script>
						let ht = document.getElementsByTagName("h2")[1].innerText
						ht=(ht).match(/[0-9]+/gi);
						let current=ht[0];
						let all=ht[1];
						console.log(ht);
						console.log(current);
						console.log(all);
						if(current===all){
							$(".first>button").css("display", "none");
						}
					</script>
				</div>
			</div>
		</div>
	</div>
</body>

</html>