<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>너내동:스터디룸생성</title>
</head>

<link href="../css/style.css" rel="stylesheet" type="text/css">

<body>
    <div class="header">
        <a id="head1" href="/myboard/list?page=1">스터디룸</a>
        <a id="head2" href="/board/list">Q&A</a>
        <a id="headImg" href="/myboard/main"><img id="logo" src="../image/페이지로고.png"></a>
        <a id="head3" href="#">마이페이지</a>
        <a id="head4" href="#">로그아웃</a>
    </div>

    <div id="form_mother">
        <form action="/board/makeform" method="post">

            <div class="title">
                <div class="test">
                    <div class="rec"></div><span id="st_title">스터디명 작성</span> <span id="st_title_sub">(스터디 주제와 관련하여
                        작성해주세요)</span>
                </div>
                <div style="margin-top: 15px;"><input type="text" name="title" placeholder="스터디명 입력"
                        style="width: 669px; height: 40px;"></div>

            </div>

            <div class="category">
                <div style="margin-bottom: 13px;">
                    <div class="test"><span class="rec"></span><span id="cate_title">카테고리</span><span id="cate"></span></div>
                </div>
                <div id="catecate">
                    <div><input type="checkbox" name="category" value="me">자기소개서</div>
                    <div><input type="checkbox" name="category" value="interview">면접</div>
                    <div><input type="checkbox" name="category" value="data">자료구조</div>
               		<div><input type="checkbox" name="category" value="science">데이터사이언스</div>
               		<div><input type="checkbox" name="category" value="ui">UI/UX기획</div>
               	</div>	              	
               	<div id="catecate">
               		<div><input type="checkbox" name="category" value="game">게임기획</div>
                    <div><input type="checkbox" name="category" value="PM">PM</div>
                    <div><input type="checkbox" name="category" value="front">프론트</div>
                    <div><input type="checkbox" name="category" value="back">백엔드</div>
                    <div><input type="checkbox" name="category" value="android">안드로이드</div>
                    <div><input type="checkbox" name="category" value="etc">기타</div>
                </div>
            </div>

            <div class="people">
                <div class="test"><span class="rec"></span>
                    <div style="margin-bottom: 20px;"><span>스터디 인원 설정</span><span id="peo">(3명 이상 10명 이하로 설정해주세요)</span>
                    </div>
                </div>

                <div><input type="range" id="ex-in" name="people_num" min="3" max="10" value="6"></div>
                <div id="ex-out"></div>

                <script>
                    document.querySelector('#ex-in').addEventListener('input', e => {
                    document.querySelector('#ex-out').innerHTML = e.target.value;
                    });
                </script>
            </div>

            <div class="des">
                <div class="test"><span class="rec"></span>
                    <div style="margin-bottom: 20px;"> <span>스터디 정보</span></div>
                </div>
                <div>
                
                <textarea name="description" rows="10" cols="100"
                        placeholder="스터디 정보 입력(Ex. 활동 기간, 활동 내용, 활동 방식 등등)"></textarea>
                </div>
            </div>

            <div class="img_bt">
                <button type="submit" value="작성완료"><img src="../image/Group6.png" alt=""></button>
                <button type="reset" value="취소하기"><img src="../image/Group5.png" alt=""></button>
            </div>

            <!-- 취소하기로 넘어가면 컨트롤러에서 popup 띄우기 -->
        </form>
    </div>

</body>

</html>